main, header {
    font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
    font-size: large;
}

.navbar {
    background-color: #344e41;
}

.navbar a{
    color: #DAD7CD;
}

.introduction {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83)), url('/assets/img/intro-background.jpg');
    background-size: 100%;
    padding: 12%;
    color: rgb(255, 255, 255);
}

.about-img {
    /* modify the image */
    image-rendering: optimizeQuality;
    border: 0.5rem double #DAD7CD;
    height: 100%;
    width: 100%;
}

.icon-link {
    text-decoration: none;
}

.footer {
    background-color: #344e41;
}

